 body {
     background-color: black;
 }

 .form-control:focus {
     border-color: #9a4eff !important;
     box-shadow: 0 0 0 0.25rem rgba(154, 78, 255, 0.25);
 }

 .page-link:focus,
 .form-check-input:focus {
     border-color: #9a4eff !important;
     box-shadow: 0 0 0 0.25rem rgba(154, 78, 255, 0.25);
 }

 .form-check-input:checked {
     border-color: #9a4eff;
     box-shadow: 0 0 0 0.25rem rgba(154, 78, 255, 0.25);
     background-color: #9a4eff;
 }

 form {
     background-color: #ffffff;
     border-radius: 2%;
     padding: 10.2rem !important;
 }

 .bg {
     background-color: #9a4eff;
     border: none;
     transition: all 1.0s;
 }

 .bg:hover {
     background-color: #af8cdd;
 }

 .form-control {
     width: 100%;
     height: 3rem;
     padding: 0.5rem;
 }

 input[type="text"] {
     width: 100%;
     min-width: 25rem;
 }

 .btn-primary {
     width: 100%;
     max-width: 25rem;
     height: 3rem;
     padding: 0.5rem;
     font-size: 1rem;
 }

 a {
     text-decoration: none;
     font-weight: bold;
     color: black;
 }

 .home {
     font-weight: bold;
     color: #9a4eff;
 }

 @media (max-width: 768px) {
     input[type="text"] {
         min-width: 3rem;
         max-width: 100%;
     }
 }